## Final Project Submission

Please fill out:
* Student name: Wesley Yu
* Student pace: Flex
* Scheduled project review date/time: 
* Instructor name: 
* Blog post URL:

enter image here?

![example](images/director_shot.jpeg)

# King County Home Regression Analysis

**Authors:** Wesley Yu
***

## Overview

This project will use multiple linear regression to analyze house sales in King County WA.

## Business Problem

A real estate company is looking to expand into the King County market. They want to know what kind of features will affect house prices in this area so that they can advise potential home buyers.

## Data Understanding

Data set from King County contains 21,597 records of house sales during 2014 - 2015 period. Data also contains sale prices, various features describing the homes, condition of property when sold, and location details. Additional data from US Post office was added to help narrow down zipcodes.

## Data Preparation

### EDA

In [1]:
# import libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import statsmodels.api as sm
from statsmodels.formula.api import ols
import seaborn as sns
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.feature_selection import RFE

In [2]:
df = pd.read_csv('data/kc_house_data.csv')
df.head()

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,10/13/2014,221900.0,3,1.00,1180,5650,1.0,NaN,NONE,...,7 Average,1180,0.0,1955,0.0,98178,47.5112,-122.257,1340,5650
1,6414100192,12/9/2014,538000.0,3,2.25,2570,7242,2.0,NO,NONE,...,7 Average,2170,400.0,1951,1991.0,98125,47.7210,-122.319,1690,7639
2,5631500400,2/25/2015,180000.0,2,1.00,770,10000,1.0,NO,NONE,...,6 Low Average,770,0.0,1933,NaN,98028,47.7379,-122.233,2720,8062
3,2487200875,12/9/2014,604000.0,4,3.00,1960,5000,1.0,NO,NONE,...,7 Average,1050,910.0,1965,0.0,98136,47.5208,-122.393,1360,5000
4,1954400510,2/18/2015,510000.0,3,2.00,1680,8080,1.0,NO,NONE,...,8 Good,1680,0.0,1987,0.0,98074,47.6168,-122.045,1800,7503

In [ ]:
df.info()

In [ ]:
# check for duplicates
df.duplicated(subset = 'id').sum()

In [ ]:
df[df.duplicated(subset = 'id', keep = False)]

In [ ]:
df.id.drop_duplicates(keep = 'last', inplace = True)

Duplicates were found to be homes that were sold twice during 2014-2015 period. I decided to keep most recent records of house sales to reflect the changing market.

In [ ]:
df.isna().sum()

In [ ]:
df.waterfront.value_counts()

In [ ]:
df.waterfront.fillna('NO', inplace = True)

In [ ]:
df.waterfront.replace({'NO': 0, 'YES':1}, inplace = True)

In [ ]:
df.view.value_counts()

In [ ]:
df.view.fillna('NONE', inplace = True)

In [ ]:
df.view.replace({'NONE': 0, 'FAIR': 1, 'AVERAGE': 2, 'GOOD':3, 'EXCELLENT': 4}, inplace = True)

In [ ]:
df.yr_renovated.value_counts()

In [ ]:
df.drop('yr_renovated', axis = 1, inplace = True)

In [ ]:
df.sqft_basement.value_counts()

In [ ]:
df.sqft_basement.replace('?', 0, inplace = True)

In [ ]:
df.sqft_basement = df.sqft_basement.astype(float)
df.loc[df.sqft_basement > 0, 'sqft_basement'] = 1

In [ ]:
df.rename(columns = {'sqft_basement': 'basement'}, inplace = True)

### Feature Selection

## Modeling

####

## Conclusions



- __bold bullet__ 


 
## Next Steps